{% extends "layout.html" %}

{% block title %}
    {{location.city}}
{% endblock %}

{% block body %}
<h1>{{location.city}}, {{location.zip}}</h1>
    <table class="table table-striped">
        <thead>
            <th scope="col">Latitude</th>
            <th scope="col">Longitude</th>
            <th scope="col">Population</th>
            <th scope="col">Time</th>
            <th scope="col">Summary</th>
            <th scope="col">Tempreture</th>
            <th scope="col">Dew Point</th>
            <th scope="col">Humidity Percentage</th>
        </thead>
        <tbody>
            <tr>
                <td>{{ location.latitude }}</td>
                <td>{{ location.longitude }}</td>
                <td>{{ location.population }}</td>
                <td>{{ time }}</td>
                <td>{{ summary }}</td>
                <td>{{ temp }}</td>
                <td>{{ dew }}</td>
                <td>{{ humidityPercent }}</td>
            </tr>
        </tbody>
    </table>

    <h2>Check ins</h2>
    <h3>Number of check ins: {{num}}</h3>
      <ul class="list-group">
        {% for check_in in check_ins %}
          <li class="list-group-item">user: {{check_in.username}}
          comment: {{check_in.comment}}</li>
        {% endfor %}
      </ul>

    {% if check %}
        <form action="{{ url_for('check_in') }}" method="post">
            <div class="form-group">
                <input class="form-control" name="comment" placeholder="check in">
            </div>
            <div class="form-group">
                <button class="btn btn-primary">log check</button>
            </div>
        </form>
    {% endif %}


{% endblock %}